body {
    font-family: latina;
    color: white;
    background: linear-gradient( rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.38), rgba(0, 0, 0, 0)), url(https://www.ecestaticos.com/imagestatic/clipping/796/a6a/796a6a02cccda5b54ca1950e14aaeaa4/los-seis-restaurantes-mas-elegantes-de-nueva-york.jpg?mtime=1579565836)no-repeat;
    background-size: cover;
}

.box {
    width: 700px;
    float: right;
    border: 1px solid black;
}

.box ul li {
    width: 100px;
    float: left;
    margin: 10px auto;
    text-align: center
}

.box ul li a {
    color: darkgray;
}

.box ul li:hover {
    background-color: blackgray;
}

.box ul li a:hover {
    color: white;
}

.formulario {
    justify-content: flex-end;
    color: #fff;
    margin: 2px;
    width: 100%;
    height: 30px;
    text-shadow: white;
}

.formulario button {
    background-color: gray;
    color: #fff;
    padding: 8px 3px;
    border: none;
    width: 7%;
}

.divform {
    align-items: center;
    padding: 15px;
    justify-content: center;
    align-self: start;
    text-shadow: #0c0b0f;
    text-decoration: underline whitesmoke;
}