body {
    font-family: latina;
    color: white;
    background: whitesmoke;
    background-size: cover;
}

.box ul li {
    width: 120px;
    float: left;
    margin: 10px auto;
    text-align: center
}

.box ul li a {
    color: darkgray;
}

.box ul li:hover {
    background-color: blackgray;
}

.box ul li a:hover {
    color: red;
}

.wd {
    width: 300px;
    height: 539px;
    background-color: black;
    opacity: 0.9;
    padding: 100px;
}

.wd h1 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 100px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-youtube {
    background: #bb0000;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}

.fa-pinterest {
    background: #cb2027;
    color: white;
}

.fa-snapchat-ghost {
    background: #fffc00;
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}